p{
    color: blueviolet;
    background-color: azure;
}
.center{
    text-align: center;
    color: red;
}
h3{
    
    color: blue;
}
table{
    background-color: powderblue;
    border: 1px solid black;
}


 



